.service-highlight{
    /* width:100%; */
    padding: 15px;    
    height: 100px;
}

.title-highlight{
    background-color: purple;

}

.title-highlight h5{
padding: 15px;
}

.number-highlight p {
    padding: 15px;
}

.number-highlight {
    padding: 0;
    background-color: #c300c3;   
}